.daily-advice-wrap {
    height: 100%;
    width: 100%;
    float: left;
    background: #ffffff url("../../images/list_imgs/day_bg.png") no-repeat;
}
.mark-wrap{
    width:100%;
    background: inherit;
    filter: blur(4px);
    overflow: hidden;
}
.daily-advice-header {
    padding-top:.2rem;
    line-height:.92rem;
    height:.92rem;
    margin-bottom:.34rem;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
    .iconfont {
        font-size: .4rem;
        padding:0 .36rem;
    }
    .daily-title{
        font-size:.35rem;
    }
}
.daily-advice-time {
    color: #ffffff;
    padding: 0 .36rem;
    margin-top: 1.6rem;
}

.daily-advice-history {
    padding: .2rem .32rem .34rem .32rem;
    position:relative;
    .daily-left,.daily-right{
        width:.2rem;
        height:.28rem;
        position:absolute;
        bottom:-.14rem;
        span:nth-child(1){
            display:block;
            position:absolute;
            width:.1rem;
            height:.28rem;
            border-radius:.05rem;
            background:#ffffff;
            z-index:2;
        }
        span:nth-child(2){
            bottom:-.1rem;
            position:absolute;
            display:block;
            width:.2rem;
            height:.2rem;
            border-radius:50%;
            background:#e6e6e6;
            z-index:1;
        }
    }
    .daily-left{
        left:1.08rem;
        span:nth-child(2){
            left:-.05rem;
        }
    }
    .daily-right{
        right:1.08rem;
        span:nth-child(2){
            bottom:-.1rem;
            right:.05rem;
        }
    }
    .right-tip {
        font-size: .36rem;
        line-height: .4rem;
    }
    .left-icon {
        padding:0 .2rem;
        text-align: center;
        line-height: .48rem;
        border-radius: .24rem;
        background: #e6e6e6;
        color: #000;
        font-size: .24rem;
        display:flex;
        align-items:center;
        justify-content:center;
        img{
            margin-left:.1rem;
        }
    }
    .right-icon {
        width: 1.86rem;
        height: .48rem;
        display:flex;
        align-items:center;
        justify-content:center;
        .right-head {
            width: .48rem;
            height: .48rem;
            border-radius: 50%;
            line-height: .48rem;
            text-align: center;
            background: red;
            font-size:.24rem;
        }
        span:nth-child(1) {
            background: rgb(77, 49, 175);
            margin-left:.2rem;
        }
        span:nth-child(2) {
            background: rgb(49, 177, 175);
            margin-left:-.2rem;
        }
        span:nth-child(3) {
            background: rgb(175, 77, 49);
            margin-left:-.2rem;
        }
        .icon-youbianjiantou{
            font-size:.3rem;
        }
    }
}